/**
*@author PHLIP JOHN CERBAS
*/

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif Regular'), local('DroidSerif-Regular'), url(https://fonts.gstatic.com/s/droidserif/v8/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v11/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*SLIDER PROPERTIES AND STYLES*/
.slider{
    position: absolute;
    width: 100%;
    height: 100%;

    .slide{
        display: none;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .overlay{
            height: 100%;
            background: rgba(0,0,0,0.5);
        }
        
    }
    
    .content{
        padding-top: 10vh;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        h1{
            font-size: 4em;
            font-family: 'Droid Serif';
        }

        p{
            font-family: 'Montserrat';

        }
        button{
            margin-top: 50px;
            background: #26D1A4;
            border: 2px solid #26D1A4;
            color: #fff;
            padding: 15px 40px 15px 40px;
            font-family: 'Droid Serif';
        }

        button:hover{
            background: #ECFFCC;
            color: #26D1A4;
        }
    }

    @media screen and (max-width: 800px){
        .content{
            width: 80%;
            h1{
                font-size: 3em;
            }

            button{
                margin-top: 15px;
            }
        }
    }
    @media screen and (max-width: 512px){
        .content{
            width: 80%;
            h1{
                font-size: 2em;
            }

            button{
                margin-top: 15px;
            }
        }
    }


    .pager{
        position: absolute;
        bottom: 30px;
        text-align: center;
        width: 100%;
        ul{
            padding-left: 0;
            li{
                list-style: none;
                display: inline-block;
                margin-left: 10px;
            }
        }
        .pager-item {
            width: 20px;
            height: 20px;
            border: 2px solid #26D1A4;
            cursor: pointer;
            background: #26D1A4;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;

        }
        .active{
            background: #ECFFCC;
        }

    }
}